*
!Dockerfile.gym
!worldweaver_engine
!worldweaver_engine/**
!ww_agent
!ww_agent/**

worldweaver_engine/.env
worldweaver_engine/.runs
worldweaver_engine/client/node_modules
worldweaver_engine/client/dist
worldweaver_engine/client-public/node_modules
worldweaver_engine/client-public/dist
worldweaver_engine/**/__pycache__
worldweaver_engine/**/*.pyc
worldweaver_engine/*.db
worldweaver_engine/db/*.db

ww_agent/.env
ww_agent/residents
ww_agent/**/__pycache__
ww_agent/**/*.pyc
ww_agent/tests
